body {
    margin: 0;
}

.container {
    max-width: 1690px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 1690px) {
    .container {
        max-width: 1280px;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 980px;
    }
}
@media (max-width: 980px) {
    .container {
        max-width: 736px;
    }
}
@media (max-width: 736px) {
    .container {
        max-width: 480px;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }
}

.nav {
    margin: 0;
    padding: 0;
    background-color: #0c0e0b;
    display: inline-block;
    width: 100%;
}

.nav-button {
    float: left;
    background-color: transparent;
    border: none;
    display: block;
    color: white;
    padding: 14px 24px;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    height: 58px;
    font-size: 16px;
}

.nav-button:focus {
    outline: 0;
}

.nav-button:hover {
    background-color: #111;
}

.nav-active {
    background-color: #4caf50;
}

.nav-active:hover {
    background-color: #4caf50;
}

.nav-logo {
    display: inline;
    color: white;
    float: left;
    margin: 15px 30px;
    font-size: 24px;
}

.page-heading {
    background-image: url("./images/background.png");
    margin-top: -4px;
    text-align: center;
    background-position: center;
}

h1 {
    margin-top: 0;
    padding-top: 30px;

    color: white;
}

h3 {
    color: white;
    padding-bottom: 40px;
}

.gradebook {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: inherit;
}

.hide-page {
    display: none;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    text-align: left;
    margin: 10px;
}

.form {
    min-width: 30%;
}

.grade {
    min-width: 50%;
}

.input-box label {
    display: block;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addButton {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #45a049;
}

.required {
    color: red;
}

.overalls {
    display: flex;
    justify-content: space-around;
}

.stats {
    display: block;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 300px;
}

th {
    background-color: #4caf50;
    color: white;
}

th,
td {
    padding: 8px;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #474e5d;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    padding: 15px;
}
