.search {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 128px 20px 20px;
    outline: 0;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
