.container {
    margin-top: 25px;
}
.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: fit-content;
}

.field {
    text-align: left;
    margin: 10px;
}

label {
    font-size: small;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    font-size: large;
}

.story {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
}

h2 {
    margin: 0;
    text-align: left;
}

.emphasize {
    background-color: yellow;
    border-bottom: 1px solid grey;
}
