.app {
    text-align: center;
    max-width: 70%;
    margin: 64px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
    .app {
        max-width: 100%;
        box-shadow: none;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
    font-size: 50px;
}

input {
    font-family: inherit;
    font-size: 25px;
    border: 0;
    border-bottom: 1px solid grey;
    color: grey;
    outline: 0;
    padding-right: 20px;
    background: transparent;
    transition: border-color 0.2s;
}

input:focus {
    color: grey;
    border-color: grey;
}

button {
    margin-left: -20px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: grey;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s;
}

button:hover {
    background-color: lightgrey;
}

.result {
    margin-top: 15px;
    font-size: 25px;
    color: rgb(85, 85, 85);
}
