:root {
    --primary: rgb(99, 99, 218);
    --lightgrey: #bbbbbb;
    --darkgrey: #7e7e7e;
}

.app {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-color: rgb(33, 33, 68);
}

.hero-content {
    padding-top: 64px;
    padding-bottom: 40px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(223, 223, 223);
    letter-spacing: 1px;
}

h1 span {
    color: var(--primary);
}

h1::after {
    content: " ";
    border: 2px solid var(--primary);
    background-color: var(--primary);
    margin-top: 15px;
    display: block;
    max-width: 300px;
}

.profile {
    font-size: 1em;
    line-height: 1.5;
    color: var(--lightgrey);
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 70%;
}

.projects-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 50px auto 50px;
}

.card {
    position: relative;
    padding-bottom: 25px;
    color: black;
    text-align: left;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.75s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.75s box-shadow,
        0.75s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.thumbnail {
    height: 130px;
    overflow: hidden;
}

.thumbnail img {
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}

.card:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.card-content {
    padding: 20px 30px 20px;
    display: flex;
    flex-direction: column;
}

.card-content h3 {
    text-transform: capitalize;

    margin: 0;
    color: var(--primary);
}

.card-content p {
    color: var(--darkgrey);
    line-height: 1.3;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.card-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    color: var(--primary);
    border: solid 1px var(--primary);
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 7px;
}

.card-actions a:hover {
    transform: scale(1.1);
    background-color: var(--primary);
    color: white;
}

@media only screen and (max-width: 576px) {
    .app {
        text-align: center;
    }

    .hero-content {
        padding-top: 30px;
        max-width: 90%;
    }

    .projects-container {
        max-width: 90%;
        grid-template-columns: auto;
        gap: 10px;
    }

    h1::after {
        content: " ";
        margin-left: auto;
        margin-right: auto;
        border: 2px solid var(--primary);
        background-color: var(--primary);
        margin-top: 10px;
        display: block;
        max-width: 200px;
    }
    .profile {
        margin-left: auto;
        margin-right: auto;
    }

    .projects-container {
        grid-template-columns: auto;
        gap: 10px;
    }

    .card {
        margin: 5px;
    }
}

@media only screen and (min-width: 576px) {
    .hero-content {
        max-width: 550px;
    }
    .projects-container {
        max-width: 550px;
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 768px) {
    .hero-content {
        max-width: 650px;
    }
    .projects-container {
        max-width: 650px;
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 992px) {
    .hero-content {
        max-width: 850px;
    }
    .projects-container {
        max-width: 850px;
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-content {
        max-width: 1100px;
    }
    .projects-container {
        max-width: 1100px;
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (min-width: 1400px) {
    .projects-container {
        grid-template-columns: auto auto auto auto;
    }
}
