.App {
    text-align: center;
    max-width: 70%;
    margin: 64px auto 0;
}

.checkbox {
    border: grey;
    font-size: large;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
}

.check-label {
    font-size: 25px;
    margin-right: 10px;
}
