body {
    background-color: #eeeeee;
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info {
    max-width: 60%;
}
.primary {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .container {
        max-width: 90%;
        display: block;
    }
    .info {
        max-width: 100%;
    }
}
.card {
    background-color: #fff;
    box-shadow: #a5a5a5 0px 2px 8px 0px;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
}
img {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 0 5px #f0f0f0;
}
h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}
h3 {
    margin-bottom: 5px;
    color: #efc669;
    letter-spacing: 1px;
}
p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #666;
}
a {
    color: #666;
    text-decoration-color: #666;
}
a:hover {
    color: #efc669;
    text-decoration-color: #efc669;
}
table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    max-width: 100%;
}
th {
    background-color: #efc669;
    color: white;
}
td {
    color: #666;
}
th,
td {
    padding: 10px;
    text-align: left;
}
.activities tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.social {
    margin-top: 0;
}
