.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: hidden;
    margin-top: 25px;
}

table {
    margin: 0;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

thead {
    background-color: rgb(78, 73, 180);
    color: white;
}

tbody tr {
    border-top: 1px solid grey;
}

td,
th {
    padding: 10px;
}
